<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    </head>
    <body>
        
    <h1 class="alt-h1 text-center mb-4 mb-md-6">Events and Bands</h1> 
    <h6 class="alt-h6 text-center mb-4 mb-md-6">
        Begin assigning Bands to created Events. Want your top 10 artists to headline
        Bonaroo? Want your own private concert played by Pink Floyd? Look no further
        and begin making that dream come true.
    </h6>  
    
    <div id="main" class="d-flex flex-wrap flex-content-stretch gutter-md py-2">

        <form method="POST">
            <fieldset>
                <legend>Associate a Band with an Event: </legend>
                <label for="bandName">Choose a Band: </label>
                <select name="bandName" id="bandName">
                    {% for x in uniqueBands %}
                        <option>{{x}}</option>
                    {% endfor %}
                </select>

                <label for="eventName">Choose an Event: </label>
                <select name="eventName" id="eventName">
                    {% for x in uniqueEvents %}
                        <option>{{x}}</option>
                    {% endfor %}
                </select>
                
                <input class="addRecord" type="submit" id="addBandEvent" value="Add">
            </fieldset>
        </form>

    {% if BE == () %}
        <div id="emptyBands">
            <strong>Database table will display here once at least one Band is associated to an Event.
                Do so using the form above.<strong>
        </div>
    {% endif %}
    
    {% if BE != () %}
        <table class="tableCenter">
        <thead>
        <tr>
            <!-- Iterate through each key in the first entry to get the
            column name -->
            {% for key in BE[0].keys() %}
                
                {% if "ID" not in key %}
                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key }}</th>
                {% endif %}

            <!-- End of this for loop -->
            {% endfor %}
            <th>update</th>
            <th>delete</th>
        </tr>
        <tbody>

        <!-- Now, iterate through every person in bsg_people -->
        {% for x in BE %}
            {% if x.bandName != None and x.eventName != None %}
            <tr>
                <!-- Then iterate through every key in the current person dictionary -->
                {% for key in x.keys() %}

                    <!-- {% if "ID" not in key %} -->
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{x[key]}}</td>
                    <!-- {% endif %} -->

                {% endfor %}
                <td>
                <!-- <form method="PUT"><input type="submit" id="updateBand" value="update"><form> -->
                <button type="button" method="PUT">update</button>
                </td>
                <td>
                    <form method="POST" class="delete">
                        <input class="deleteButton" type="submit" value="delete" name="{{ x[ID] }}">
                        <input type="hidden" name="delBand" value= {{ x["bandID"] }}>
                        <input type="hidden" name="delEvent" value= {{ x["eventID"] }}>
                    </form>
                </td>
            {% endif %}
        {% endfor %}
        </table>
    {% endif %}

    <footer>
        <a href="/" class="navButton">
            Home
        </a> 
        <a href="/bands" class="navButton">
            Bands
        </a> 
        <a href="/events" class="navButton">
            Events
        </a> 
        <a href="/bandsevents" class="navButtonUsed">
            BandsEvents
        </a> 
        <a href="/customers" class="navButton">
            Customers
        </a> 
        <a href="/tickets" class="navButton">
            Tickets
        </a> 
    </footer>

    </div>
</body>
</html>