<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    </head>
    <body>
        
    <h1 class="alt-h1 text-center mb-4 mb-md-6">Customers</h1> 
    <h6 class="alt-h6 text-center mb-4 mb-md-6">
        Want to attend an Event? Add yourself to the database, fill out all the information
        so we can make sure purchased Tickets are correctly assigned.
    </h6>  
    
    <div id="main" class="d-flex flex-wrap flex-content-stretch gutter-md py-2">

    {% if Error %}
        <h6 class="alt-h6 text-center mb-4 mb-md-6">
            <strong>There was an error in your request. Please try again.</strong>
            <br>
            Reasons: No form entries are allowed to be empty.
        </h6>
    {% endif %}

    {% if not Error %}
        {% if not PUT %}
            <form method="POST">
                <fieldset>
                    <legend>Add a Customer: </legend>
                    <label for="customerFirst">First Name: </label>
                    <input type="text" id="customerFirst" name="customerFirst">
                    <label for="customerLast">Last Name: </label>
                    <input type="text" id="customerLast" name="customerLast">
                    <label for="customerDoB">Date of Birth: </label>
                    <input type="date" id="customerDoB" name="customerDoB">

                    <hr>

                    <label for="phoneNum">Phone Number: </label>
                    <input type="tel" id="phoneNum" name="phoneNum">
                    <label for="email">Email: </label>
                    <input type="email" id="email" name="email">
                    <input class="addRecord" type="submit" id="addBand" value="Add">
                </fieldset>
            </form>
        {% endif %}
        
        {% if PUT %}
            <form method="POST">
                <fieldset class="updateBox">
                    <legend class="updateLegend">Update a Customer: </legend>

                    <label for="customerFirstU">First Name: </label>
                    <input type="text" id="customerFirstU" name="customerFirstU" value="{{ Cresults[0]['customerFirst'] }}">
                    <label for="customerLastU">Last Name: </label>
                    <input type="text" id="customerLastU" name="customerLastU" value = "{{ Cresults[0]['customerLast'] }}">
                    <label for="customerDoBU">Date of Birth: </label>
                    <input type="date" id="customerDoBU" name="customerDoBU" value = "{{ Cresults[0]['customerDoB'] }}">

                    <hr>

                    <label for="phoneNumU">Phone Number: </label>
                    <input type="tel" id="phoneNumU" name="phoneNumU" value="{{ Cresults[0]['phoneNum'] }}">
                    <label for="emailU">Email: </label>
                    <input type="email" id="emailU" name="emailU" value="{{ Cresults[0]['phoneNum'] }}">
                    <input class="updateRecord" type="submit" id="updateRecord" value="Update" name="updateRequest">
                    <input type="hidden" name="customerIDU" value= "{{ Cresults[0]['customerID'] }}">
                </fieldset>
            </form>
        {% endif %}

        {% if Customers == () %}
            <div id="emptyBands">
                <strong>Database table will display here once at least one Customer
                    is added to the database. Do so using the form above.<strong>
            </div>
        {% endif %}
        
        {% if Customers != () %}
            <table class="tableCenter">
            <thead>
            <tr>
                <!-- Iterate through each key in the first entry to get the
                column name -->
                {% for key in Customers[0].keys() %}
                    
                    {% if "ID" not in key %}
                        <!-- Create a <th> tag with the key inside of it, this will be
                        our header row -->
                        <th>{{ key }}</th>
                    {% endif %}

                <!-- End of this for loop -->
                {% endfor %}
                <th>update</th>
                <th>delete</th>
            </tr>
            <tbody>

            <!-- Now, iterate through every person in bsg_people -->
            {% for Customer in Customers %}
            <tr>
                <!-- Then iterate through every key in the current person dictionary -->
                {% for key in Customer.keys() %}

                    {% if "ID" not in key %}
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{Customer[key]}}</td>
                    {% endif %}

                {% endfor %}
                <td>
                    <form method="POST" class="insert">
                        <input class="updateButton" type="submit" value="update" name="{{ Customer[ID] }}">
                        <input type="hidden" name="PUT" value= {{ Customer["customerID"] }}>
                    </form>
                </td>
                <td>
                    <form method="POST" class="delete">
                        <input class="deleteButton" type="submit" value="delete" name="{{ Customer[ID] }}">
                        <input type="hidden" name="DEL" value= {{ Customer["customerID"] }}>
                    </form>
                </td>
            {% endfor %}
            </table>
        {% endif %}
    {% endif %}

    
    <footer>
        <a href="/" class="navButton">
            Home
        </a> 
        <a href="/bands" class="navButton">
            Bands
        </a> 
        <a href="/events" class="navButton">
            Events
        </a> 
        <a href="/bandsevents" class="navButton">
            BandsEvents
        </a> 
        <a href="/customers" class="navButtonUsed">
            Customers
        </a> 
        <a href="/tickets" class="navButton">
            Tickets
        </a> 
    </footer>

    </div>
</body>
</html>