<html>
<head>
    <title>Bandcart</title>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
</head>
<body>
    <h1 class="alt-h1 text-center mb-4 mb-md-6">Bandcart</h1>
    <h6 class="alt-h6 text-center mb-4 mb-md-6">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </h6>
    <div id="main" class="d-flex flex-wrap flex-content-stretch gutter-md py-2">

        <div class="buttonContainer">
            <a href="/bands" class="button1">
                Bands
                <p class="button">Add, Update, or Delete Bands</p>
            </a> 
        </div>

        <div class="buttonContainer">
            <a href="/events" class="button1">
                Events
                <p class="button">Add, Update, or Delete Events</p>
            </a>
        </div>

        <div class="buttonContainer">
            <a href="/customers" class="button1">
                Customers
                <p class="button">Add, Update, or Delete Customers</p>
            </a> 
        </div>

        
        <div class="buttonContainer">
            <a href="/tickets" class="button1">
                Tickets
                <p class="button">Add, Update, or Delete Tickets</p>
            </a> 
        </div>

        
        <div class="buttonContainer">
            <a href="/bandsevents" class="button1">
                Bands and Events
                <p class="button">Add, Update, or Delete Bands / Events</p>
            </a> 
        </div>

    </div>
</body>
</html>