<html>
<head>
    <title>Bandcart</title>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
</head>
<body>
    <h1 class="alt-h1 text-center mb-4 mb-md-6">Bandcart</h1>
    <h6 class="alt-h6 text-center mb-4 mb-md-6">
    For all your music needs. Create and list Bands. Become a Customer and order
    any number of Tickets of our wide range of Events. Create lineups of your 
    favorite musicans to attend your dream festival. Or attend your own private concert
    featuring your number one Artist / Band.

    </h6>
    <div id="main" class="d-flex flex-wrap flex-content-stretch gutter-md py-2">

        <div class="buttonContainer">
            <a href="/bands" class="button1">
                Bands
                <p class="button">Add, Update, or Delete Bands</p>
            </a> 
        </div>

        <div class="buttonContainer">
            <a href="/events" class="button1">
                Events
                <p class="button">Add, Update, or Delete Events</p>
            </a>
        </div>

        <div class="buttonContainer">
            <a href="/bandsevents" class="button1">
                Bands and Events
                <p class="button">Assign Bands to Events, Update or Delete</p>
            </a> 
        </div>

        <div class="buttonContainer">
            <a href="/customers" class="button1">
                Customers
                <p class="button">Add, Update, or Delete Customers</p>
            </a> 
        </div>

        
        <div class="buttonContainer">
            <a href="/tickets" class="button1">
                Tickets
                <p class="button">Add, Update, or Delete Tickets</p>
            </a> 
        </div>

    </div>
</body>
</html>