<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    </head>
    <body>
        
    <h1 class="alt-h1 text-center mb-4 mb-md-6">Tickets</h1> 
    <h6 class="alt-h6 text-center mb-4 mb-md-6">
        Purchase Tickets for one or more Events! Enter in all information, set your own
        price for Tickets and make sure you have bought enough for friends.
    </h6>  
    
    <div id="main" class="d-flex flex-wrap flex-content-stretch gutter-md py-2">

        <form method="POST">
            <fieldset>
                <legend>Create a Ticket for a Customer for an Event: </legend>
                <label for="customerName">Choose a Customer: </label>
                <select name="customerName" id="customerName">
                    {% for x in uniqueCustomers %}
                        <!-- Then iterate through every key in the current person dictionary -->
                        <option>{{x}}</option>
                    {% endfor %}
                </select>

                <label for="eventName">Choose an Event: </label>
                <select name="eventName" id="eventName">
                    {% for x in uniqueEvents %}
                        <option>{{x}}</option>
                    {% endfor %}
                </select>

                <hr>

                <label for="orderDate">Date: </label>
                <input type="date" id="orderDate" name="orderDate">
                <label for="price">Price: $</label>
                <input type="number" step="0.01" id="price" name="price">
                <label for="numTickets">Number of Tickets: </label>
                <input type="text" id="numTickets" name="numTickets">
                
                <input class="button5" type="submit" id="addBandEvent" value="Add">
            </fieldset>
        </form>

    
        <form method="POST" value="filter">
            <fieldset>
                <legend>Filter by Event: </legend>
                <label for="filterEvent">Choose an Event: </label>
                    <select name="filterEvent" id="filterEvent">
                        {% for x in uniqueEvents %}
                            <option>{{x}}</option>
                        {% endfor %}
                    </select>
                    <input class="button5" type="submit" id="addBand" value="Search">
            </fieldset>
        </form>

    
    {% if Tickets == () %}
        <div id="emptyBands">
            <strong>Database table will display here once at least one Ticket
                is assigned to a Customer and an Event. Do so using the form above.<strong>
        </div>
    {% endif %}
    
    {% if Tickets != () %}
        <table class="tableCenter">
        <thead>
        <tr>
            <!-- Iterate through each key in the first entry to get the
            column name -->
            {% for key in Tickets[0].keys() %}
                
                {% if "ID" not in key %}
                    <!-- Create a <th> tag with the key inside of it, this will be
                    our header row -->
                    <th>{{ key }}</th>
                {% endif %}

            <!-- End of this for loop -->
            {% endfor %}
            <th>update</th>
            <th>delete</th>
        </tr>
        <tbody>

        <!-- Now, iterate through every person in bsg_people -->
        {% for x in Tickets %}
            {% if x.customerFirst != None %}
            <tr>
                <!-- Then iterate through every key in the current person dictionary -->
                {% for key in x.keys() %}

                    {% if "ID" not in key %}
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{x[key]}}</td>
                    {% endif %}

                {% endfor %}
                <td>
                <!-- <form method="PUT"><input type="submit" id="updateBand" value="update"><form> -->
                <button type="button" method="PUT">update</button>
                </td>
                <td>
                <button type="button" method="DELETE">delete</button>
                </td>
            {% endif %}
        {% endfor %}
        </table>
    {% endif %}

    <footer>
        <a href="/" class="navButton">
            Home
        </a> 
        <a href="/bands" class="navButton">
            Bands
        </a> 
        <a href="/events" class="navButton">
            Events
        </a> 
        <a href="/bandsevents" class="navButton">
            BandsEvents
        </a> 
        <a href="/customers" class="navButton">
            Customers
        </a> 
        <a href="/tickets" class="navButtonUsed">
            Tickets
        </a> 
    </footer>

    </div>
</body>
</html>